.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.image {
  height: 100%;
  aspect-ratio: 2/3;
  transition: transform 0.5s cubic-bezier(0.34, 0.2, 0, 0.97);
}

.bottom-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to top,
    black 0%,
    rgba(0, 0, 0, 0.738) 19%,
    rgba(0, 0, 0, 0.541) 34%,
    rgba(0, 0, 0, 0.382) 47%,
    rgba(0, 0, 0, 0.278) 56.5%,
    rgba(0, 0, 0, 0.194) 65%,
    rgba(0, 0, 0, 0.126) 73%,
    rgba(0, 0, 0, 0.075) 80.2%,
    rgba(0, 0, 0, 0.042) 86.1%,
    rgba(0, 0, 0, 0.021) 91%,
    rgba(0, 0, 0, 0.008) 95.2%,
    rgba(0, 0, 0, 0.002) 98.2%,
    transparent 100%
  );
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff;
  z-index: 50;
  transition: all 0.3s;
  opacity: 0;
}

.image-wrapper:hover .image-caption {
  transform: translate(-50%, 0%);
  opacity: 1;
}

.animate-box {
  cursor: pointer;
  max-width: 260px;
}

.animate-box:hover .image {
  transform: scale(1.1);
}

/* animation */

.animate-box {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.34, 0.2, 0, 0.97),
    opacity 1.5s cubic-bezier(0.34, 0.2, 0, 0.97);
}

.full-up,
.half-up {
  opacity: 1;
}

.full-up {
  transform: translateY(0px);
}

.half-up {
  transform: translateY(80px);
}

@media (max-width: 53em) {
  .image-caption {
    font-size: 2rem;
  }
}

@media (max-width: 40em) {
  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .animate-box:not(:nth-last-child(2)) {
    margin-bottom: 5rem;
  }
}
