@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Poppins:wght@300;400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  line-height: 1.7;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

@media (max-width:62em)
{
  html
  {
    font-size: 56.25% /* 1rem = 9px */
  }
}

/* small phones */
@media(max-width:27em)
{
  html
  {
    font-size:50%; /* 1rem = 8px*/
  }
}