.grid {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 2.5rem;
}

@media (max-width: 53em) {
  .grid {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
    gap: 2rem;
  }
}

@media (max-width: 40em) {
  .grid {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
    /* gap: 2rem; */
  }
}

/* @media (max-width: 27em) {
  .grid {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
    gap: 1.5rem;
  }
} */
